.App {
  background-image: url('./Images/blank.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: black;
}

.timer {
  padding-top: 50px;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text {
  width: auto;
  /* background-color:rgba(255,255,255,0.1); */
  background-color: cornflowerblue;
  /* background-color: royalblue; */
  border-radius:10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text svg{
  width: 36px;
  float:left;
  margin-right: 5px;
}

.homepage {
  background-image: url('./Images/TLPLogo5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: black;
}

.footer {
  position: fixed;
  font-family: sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-image: url('./Images/blank.png');
}

.lab {
  background-image: url('./Images/blank.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }  
}

.login-signup {
  background-image: url('./Images/blank.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.create {
  display: grid;
  place-items: center; 
}

.update {
  display: grid;
  place-items: center; 
}

.center-contents {
  display: grid;
  place-items: center; 
}

div.grid-container {
  display: grid;
  grid-template-columns: auto 250px auto;
  grid-template-rows: auto 100px;
  border: 2x dashed red;
}

div.grid-container > div {
  background: lightblue;
  border: 2x solid red;
  padding: 10px 40px;
  font: 1.25em sans-serif;
}

.about {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.email {
  display: grid;
  margin: auto;
  place-items: center; 
}

.question-form {
  display: grid;
  place-items: center;
}